body {
	margin:0;
	background: #15325C;
}

.topnav {
  position: relative;
}

.mini_topnav {
  overflow: hidden;
  align: center;
  background-color: #15325C;
}
.mini_topnav a {
  float: right;
  color: gray;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 12px;
  font-family: "Helvetica";
}

.topnav_menu {
  overflow: hidden;
  align: center;
  background:lightgray;
  border: dimgray;
}

.topnav_mid {
	overflow: hidden;
	align: center;
  background-color:white;
  padding: 0;
  list-style: none;
}

.topnav_mid .search-container {
  float: right;
}

.topnav_mid input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav_mid .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav_menu a {
  float: left;
  color: gray;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Helvetica";
}

.topnav_menu a:hover {
  background-color: #15325C;
	background: #EDEDE8
}

.search {
    width: 500px;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 20px;
    font-size: 21px;
}

.search_form {
  background-color: white;
  color: white;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: right;
    width: 60%;
    background: #f1f1f1;
}

form.example button {
    float: right;
    width: 30%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.content{
	margin: auto;
	background: white;
	width: 70%;
	height: auto;
}

	#books_container{
		width: 800px;
		text-align: center;
		margin-left: 30px;
		margin-bottom: 10px;
	}

		#single_book{
			width: 25%;
			text-align: center;
			float:left;
			margin: 20px;
			padding: 10px;
			border: 2px solid black;
		}

		#single_book img{
			border: 2px solid black;
			display: block;
			margin: auto;
		}

.login_div {
  width: 300px;
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.login_button {
  font-family: "Helvetica";
  margin: auto;
  border-radius: 2px;
  border: 0;
  width: 25%;
  color:white;
  background-color: green;
}
.login_button:hover{
  background-color: lightgreen;
}

.signup_button {
  width: 25%;
  margin: auto;
  color:white;
  background-color: yellow;
}

.signup_button:hover{
  background-color: lightyellow;
}

.user input[type=text], input[type=password] {
  font-family: "Helvetica";
  width: 100%;
  padding: 2px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

select{
  width: 100%;
  padding: 2px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

	.shipping_address {
		margin-bottom: 1px;
		margin-top: 1px;
    margin-left: 5px;
		font-family: Arial, Helvetica, sans-serif;
	}

  .address_cell {
    display: inline-block;
    margin: 8px;
    width: 200px;
    height: 100px;
    border-style: solid;
    border: 3px;
    border-color: black;
    border-radius: 2px;

  }
